@charset "utf-8";

.ex_01{color: white;}
.red{background-color: red;}
.orange{background-color: orange;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.blue{background-color: blue;}
.violet{background-color: violet;}
.purple{background-color: purple;}
.black{background-color: black;}

#img_02{background-color: #ff0;}
#img_05{background-color: #f90;}
#img_07{background-color: #6af;}

.facebook:hover{background-color: #00f;}
.instagram:hover{background-color: #f70;}
.pinterest:hover{background-color: #c00;}
.twitter:hover{background-color: #08f;}
.youtube:hover{background-color: #f00;}

.ex_04 > ul > .menu1 > ul > .history > a {
    background-color: #f00;
    color: #fff;
}
.ex_04 > ul > .menu3 > ul > .notice > a {
    background-color: #08f;
    color: #fff;
}

/* 예시로 나와있던 kids */
.ex_04 > ul > .menu2 > ul > .kids > a {
    background-color: #ff0;
}